<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<h2>COVID-19 District Summary</h2>

<table>
    <tr>
        <th>{0}</th>
        <th>{1}</th>
    </tr>
    <tr>
        <td>Total Case</td>
        <td>{2}</td>

    </tr>
    <tr>
        <td>Total Deaths</td>
        <td>{3}</td>

    </tr>
    <tr>
        <td>Total Recovery</td>
        <td>{4}</td>
    </tr>
</table>
</body>
</html>
